:root {
    --black: #141414;
    --dark-grey: #1f1f1f;
    --grey: #333;
    --white: #fff;
    --neon-green: #c4f82a;
    --font-family: "Inter", sans-serif;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-family);
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    border-radius: 12px;
    padding: 40px;
    width: 384px;
    background: var(--dark-grey);
    text-align: center;
}

.profile-card__avatar {
    border-radius: 999px;
    width: 88px;
    height: 88px;
}

.profile-card__bio-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.profile-card__bio-location {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--neon-green);
}

.profile-card__slogan {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.profile-card__links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
}

.profile-card__link {
    max-width: 304px;
    height: 45px;
    background: var(--grey);
    border-radius: 8px;
}

.profile-card__link a {
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: block;
    padding: 12px;
}

.profile-card__link a:hover {
    background: var(--neon-green);
    color: var(--grey);
}